
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-list-alt:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-archive:before { content: '\e804'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */